# Лабораторная работа 6. Основы анализа данных Pandas.

Создайте таблицу

In [7]:
table = [[3, 1, 2], [4, 5, 6]]

Выведите первую строку:

In [8]:
print(table[0])

[3, 1, 2]

Подключим библиотеку Pandas

In [2]:
import pandas as pd

Давайте сделаем dataframe из нашей таблицы.

In [20]:
df = pd.DataFrame(table)

Выведите первый столбец с заголовками.

In [21]:
df

   0  1  2
0  3  1  2
1  4  5  6

Выведите первую строку с заголовками.

In [22]:
df.head(1)
#df.iloc

   0  1  2
0  3  1  2

Выведите вторую строку.

In [24]:
df.tail(-1)
#df.iloc

   0  1  2
1  4  5  6

Загрузим файл в Pandas. Выведите результат.

In [25]:
df = pd.read_csv(
    "lab6_1.csv"
)
df

     task   group10  group2  group3  group4
0  python       1.0     2.0     3.0     2.0
1     c++       2.3     1.2     2.2     1.2
2      c#       2.1     2.3     2.3     2.2
3    java       4.0     2.5     2.5     1.2
4     php       6.0     5.0     4.0     5.0

Верхняя строчка выделена полужирным т.к. рассматривается не как строчка с данными, а как строчка с именами столбцов. К столбцам можно обращаться по имени. Обратитесь к столбцу "group10"

In [26]:
de = df[' group10']
de

0    1.0
1    2.3
2    2.1
3    4.0
4    6.0
Name:  group10, dtype: float64

У строк по умолчанию нет имён, и им присваивются номера (левая полужирная колонка). Можно загрузить файл таким образом, чтобы первый столбец рассматривался как столбец с именами строк.

In [27]:
df = pd.read_csv(
    "lab6_1.csv",
    index_col=0
)

In [28]:
df

         group10  group2  group3  group4
task
python       1.0     2.0     3.0     2.0
c++          2.3     1.2     2.2     1.2
c#           2.1     2.3     2.3     2.2
java         4.0     2.5     2.5     1.2
php          6.0     5.0     4.0     5.0

Обратитесь к строке "python".

In [39]:
df.loc['python']

 group10    1.0
group2      2.0
group3      3.0
group4      2.0
Name: python, dtype: float64

Убрать "task" можно следующим образом.

In [41]:
df.index.name = None
df

         group10  group2  group3  group4
python       1.0     2.0     3.0     2.0
c++          2.3     1.2     2.2     1.2
c#           2.1     2.3     2.3     2.2
java         4.0     2.5     2.5     1.2
php          6.0     5.0     4.0     5.0

Обратитесь к конткретному элементу таблицы.

In [44]:
df.loc['c#', 'group2']

2.3

Переименуйте столбец group10 в group1

In [49]:
df.rename(columns = {' group10':'group1'}, inplace=True)
df

        group1  group2  group3  group4
python     1.0     2.0     3.0     2.0
c++        2.3     1.2     2.2     1.2
c#         2.1     2.3     2.3     2.2
java       4.0     2.5     2.5     1.2
php        6.0     5.0     4.0     5.0

Сделайте срез из 3й и 4й строки.

In [52]:
df[2:4]

      group1  group2  group3  group4
c#       2.1     2.3     2.3     2.2
java     4.0     2.5     2.5     1.2

Сделайте срез из 2ого и 3его столбов.

In [65]:
df[['group2','group3']]

        group2  group3
python     2.0     3.0
c++        1.2     2.2
c#         2.3     2.3
java       2.5     2.5
php        5.0     4.0

Получите все строки, соответствующие отметкам по которым group1 получила оценку выше тройки

In [70]:
df[df['group1'] > 3]

      group1  group2  group3  group4
java     4.0     2.5     2.5     1.2
php      6.0     5.0     4.0     5.0

Посчитать среднюю отметку для каждого предмета.

In [76]:
df.mean()

group1    3.08
group2    2.60
group3    2.80
group4    2.32
dtype: float64

Посчитать среднюю отметку для каждого языка (используйте транспонирование ".T").

In [77]:
df.T.mean()

python    2.000
c++       1.725
c#        2.225
java      2.550
php       5.000
dtype: float64

Тоже самое, только используйте направление (axis).

In [78]:
df.mean(axis = 1)

python    2.000
c++       1.725
c#        2.225
java      2.550
php       5.000
dtype: float64

Найдите min для языков.

In [79]:
df.T.min()

python    1.0
c++       1.2
c#        2.1
java      1.2
php       4.0
dtype: float64

Найдите max для языков.

In [80]:
df.T.max()

python    3.0
c++       2.3
c#        2.3
java      4.0
php       6.0
dtype: float64

Тоже самое с группами.

In [81]:
df.min()

group1    1.0
group2    1.2
group3    2.2
group4    1.2
dtype: float64

In [82]:
df.max()

group1    6.0
group2    5.0
group3    4.0
group4    5.0
dtype: float64

# Часть 2. Более сложный датафрейм

Далее будем использовать открытые данные Москвы.

In [3]:
df = pd.read_csv(
    "lab6_2.csv",
    sep=';'
)

Таблица большая, выаедем несколько строк df.head()

In [4]:
df.head()

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
0,1,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",105.45,19693618,NaN
1,2,город Москва (за исключением Троицкого и Новом...,Водоотведение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,МГУП «Мосводоканал»,16.65,19693667,NaN
2,3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
3,4,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,газовая,с 07:00 по 23:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,4.03,19693607,NaN
4,5,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.01.2012,30.06.2012,да,газовая,с 23:00 по 07:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,0.95,19693669,NaN

Выведите столбец ROWNUM

In [5]:
df['ROWNUM']

0      1
1      2
2      3
3      4
4      5
      ..
66    67
67    68
68    69
69    70
70    71
Name: ROWNUM, Length: 71, dtype: int64

Не все так просто. Ответ - нет такого столбца. Но он же есть!

In [6]:
list(df)

['ROWNUM',
 'Region',
 'TariffItem',
 'UnitOfMeasure',
 'StartDate',
 'EndDate',
 'MeasureDeviceAvail',
 'StoveType',
 'ConsumptionTime',
 'ConsumptionTarget',
 'Agency',
 'TariffValue',
 'global_id',
 'Unnamed: 13']

Перед ROWNUM есть невидимый символ, кодирующийся как \ufeff. Чтобы его не считать, нужно использовать encoding='utf-8-sig'

In [7]:
df = pd.read_csv(
    "lab6_2.csv",
    sep=';',
    encoding = 'utf-8-sig'
)

Покажите, что ошибка исправлена (df['ROWNUM'])

In [8]:
df['ROWNUM']

0      1
1      2
2      3
3      4
4      5
      ..
66    67
67    68
68    69
69    70
70    71
Name: ROWNUM, Length: 71, dtype: int64

Данных столбец нам в этом виде не понадобится. Сделаейте его индексом строк.

In [9]:
#df = pd.read_csv(
#    "lab6_2.csv",
#    sep=';',
#    encoding = 'utf-8-sig',
#    index_col = 0
#)
df = df.set_index('ROWNUM')

Продемонстрируйте.

In [10]:
df

,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
ROWNUM,,,,,,,,,,,,,
1,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",105.45,19693618,NaN
2,город Москва (за исключением Троицкого и Новом...,Водоотведение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,МГУП «Мосводоканал»,16.65,19693667,NaN
3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
4,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,газовая,с 07:00 по 23:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,4.03,19693607,NaN
5,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.01.2012,30.06.2012,да,газовая,с 23:00 по 07:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,0.95,19693669,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,газовая,с 17:00 по 21:00 ч (многотарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,4.03,19693301,NaN
68,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.01.2012,30.06.2012,да,электрическая,без дифференциации по времени потребления,на бытовые нужды,ОАО «Мосэнергосбыт»,2.65,19693599,NaN
69,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,электрическая,с 17:00 по 21:00 ч (многотарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,2.82,19693614,NaN
70,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,электрическая,с 07:00 по 23:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,2.82,19693676,NaN
71,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693683,NaN

 В таблице собраны разные данные: тарифы на электроэнергию, газ т.д. Запишите в q_gas данные за газ.

In [11]:
q_gas = df[df['TariffItem'] == 'Газ']
q_gas.head()

,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
ROWNUM,,,,,,,,,,,,,
3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
7,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,на приготовление пищи и горячее водоснабжение ...,ООО «Мосрегионгаз»,4.09,19693595,NaN
8,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.09,19693684,NaN
11,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.70,19693624,NaN
12,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,2930.00,19693625,NaN

Теперь, используя groupby, запишите в groups различные тарифы. Теперь выведите тарифы за Водоотведение.

In [12]:
groups = df.groupby('TariffItem')
groups.get_group('Водоотведение').head()

,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
ROWNUM,,,,,,,,,,,,,
2,город Москва (за исключением Троицкого и Новом...,Водоотведение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,МГУП «Мосводоканал»,16.65,19693667,NaN
27,город Москва (за исключением Троицкого и Новом...,Водоотведение,руб/куб.м,01.09.2012,31.12.2012,да,NaN,NaN,NaN,МГУП «Мосводоканал»,19.00,19693387,NaN
43,город Москва (за исключением Троицкого и Новом...,Водоотведение,руб/куб.м,01.07.2012,31.08.2012,да,NaN,NaN,NaN,МГУП «Мосводоканал»,18.20,19693668,NaN

Выведите список групп.

In [13]:
groups.groups.keys()

dict_keys(['Водоотведение', 'Газ', 'Горячее водоснабжение', 'Отопление', 'Твердое топливо', 'Холодное водоснабжение', 'Электроэнергия'])

Посчитайте средние тарифы.

In [14]:
df.groupby('TariffItem').mean()

                        TariffValue     global_id  Unnamed: 13
TariffItem
Водоотведение             17.950000  1.969357e+07          NaN
Газ                      651.415000  1.969359e+07          NaN
Горячее водоснабжение    100.095000  1.969352e+07          NaN
Отопление               1208.423333  1.969363e+07          NaN
Твердое топливо         1126.000000  1.969363e+07          NaN
Холодное водоснабжение    25.223333  1.969364e+07          NaN
Электроэнергия             2.571250  1.969359e+07          NaN

Далее приведем в порядок тарифы за газ. Вычислите кол-во различных UnitOfMeasure (единица измерения).

In [15]:
q_gas['UnitOfMeasure'].value_counts()

руб/куб.м         8
руб/чел           6
руб/1000 куб.м    4
руб/кв.м          2
Name: UnitOfMeasure, dtype: int64

Замените руб/кв.м на руб/куб.м (это ошибка).

In [16]:
qkvm = q_gas['UnitOfMeasure'] == 'руб/кв.м'
q_gas[qkvm]

,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
ROWNUM,,,,,,,,,,,,,
3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
52,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.01.2012,30.06.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,22.27,19693622,NaN

In [17]:
q_gas = q_gas.copy()
q_gas.loc[qkvm, 'UnitOfMeasure'] = "руб/куб.м"
q_gas['UnitOfMeasure'].value_counts()

руб/куб.м         10
руб/чел            6
руб/1000 куб.м     4
Name: UnitOfMeasure, dtype: int64

Все значения в строках где руб/1000 куб.м умножьте на 1000.

In [18]:
q_gas.loc[q_gas['UnitOfMeasure'] == "руб/1000 куб.м", "TariffValue"] *= 1000
q_gas

,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
ROWNUM,,,,,,,,,,,,,
3,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
7,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,на приготовление пищи и горячее водоснабжение ...,ООО «Мосрегионгаз»,4.09,19693595,NaN
8,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.09,19693684,NaN
11,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.70,19693624,NaN
12,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,2930000.00,19693625,NaN
13,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.70,19693623,NaN
14,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,"на отопление жилых помещений, а также в случае...",ООО «Мосрегионгаз»,2.93,19693594,NaN
15,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и отсутст...,ООО «Газпром межрегионгаз Москва»,42.49,19693680,NaN
22,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693685,NaN
23,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и газовог...,ООО «Газпром межрегионгаз Москва»,97.76,19693306,NaN
24,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.70,19693307,NaN
32,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и газовог...,ООО «Газпром межрегионгаз Москва»,84.98,19693621,NaN
36,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и отсутст...,ООО «Газпром межрегионгаз Москва»,48.88,19693681,NaN
46,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и централ...,ООО «Газпром межрегионгаз Москва»,39.01,19693305,NaN
52,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.01.2012,30.06.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,22.27,19693622,NaN
60,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,3370000.00,19693626,NaN
62,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление и (или) выработку электрической э...,ООО «Газпром межрегионгаз Москва»,2930000.00,19693627,NaN
64,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на отопление и (или) выработку электрической э...,ООО «Газпром межрегионгаз Москва»,3370000.00,19693628,NaN
66,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и централ...,ООО «Газпром межрегионгаз Москва»,33.91,19693679,NaN
71,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693683,NaN

Измените единицу измерения на руб/куб.м.

In [19]:
q_gas.loc[q_gas['UnitOfMeasure'] == 'руб/1000 куб.м', 'UnitOfMeasure'] = "руб/куб.м"
q_gas

,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
ROWNUM,,,,,,,,,,,,,
3,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
7,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,на приготовление пищи и горячее водоснабжение ...,ООО «Мосрегионгаз»,4.09,19693595,NaN
8,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.09,19693684,NaN
11,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.70,19693624,NaN
12,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,2930000.00,19693625,NaN
13,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.70,19693623,NaN
14,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,"на отопление жилых помещений, а также в случае...",ООО «Мосрегионгаз»,2.93,19693594,NaN
15,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и отсутст...,ООО «Газпром межрегионгаз Москва»,42.49,19693680,NaN
22,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693685,NaN
23,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и газовог...,ООО «Газпром межрегионгаз Москва»,97.76,19693306,NaN
24,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.70,19693307,NaN
32,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и газовог...,ООО «Газпром межрегионгаз Москва»,84.98,19693621,NaN
36,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и отсутст...,ООО «Газпром межрегионгаз Москва»,48.88,19693681,NaN
46,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и централ...,ООО «Газпром межрегионгаз Москва»,39.01,19693305,NaN
52,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.01.2012,30.06.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,22.27,19693622,NaN
60,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,3370000.00,19693626,NaN
62,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление и (или) выработку электрической э...,ООО «Газпром межрегионгаз Москва»,2930000.00,19693627,NaN
64,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на отопление и (или) выработку электрической э...,ООО «Газпром межрегионгаз Москва»,3370000.00,19693628,NaN
66,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и централ...,ООО «Газпром межрегионгаз Москва»,33.91,19693679,NaN
71,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693683,NaN

Повторно пересчитайте тарифы. Строк с "руб/куб.м" должно быть 12.

In [20]:
q_gas['UnitOfMeasure'].value_counts() 
#как-то не 12

руб/куб.м    14
руб/чел       6
Name: UnitOfMeasure, dtype: int64

Для всех таких строк вызовите метод describe().

In [21]:
q_gas.loc[q_gas['UnitOfMeasure'] == 'руб/куб.м'].describe()

        TariffValue     global_id  Unnamed: 13
count  1.400000e+01  1.400000e+01          0.0
mean   9.000058e+05  1.969361e+07          NaN
std    1.481773e+06  9.413788e+01          NaN
min    2.930000e+00  1.969331e+07          NaN
25%    4.090000e+00  1.969362e+07          NaN
50%    4.700000e+00  1.969363e+07          NaN
75%    2.197506e+06  1.969367e+07          NaN
max    3.370000e+06  1.969368e+07          NaN

# Часть 3. Более сложные запросы

Из исходной таблицы сделайте выборку тех строк, в которых в качестве единицы измерения указаны руб/кв.м и указан тариф на газ.

In [28]:
df = pd.read_csv(
    "lab6_2.csv",
    sep=';'
)
q_gas = df.loc[df['TariffItem'] == 'Газ']
q_gas = df.loc[df['UnitOfMeasure'] == 'руб/кв.м']
q_gas

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
51,52,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.01.2012,30.06.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,22.27,19693622,NaN

Сделайте такой же запрос через query.

In [29]:
df.query('TariffItem == "Газ" and UnitOfMeasure == "руб/кв.м"')

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
51,52,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.01.2012,30.06.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,22.27,19693622,NaN

Далее использовать будем открытые данные Москвы за 2016 год. Используйте для этого файл tariff.json. Преобразуйте в необходимый формат.

In [30]:
df = pd.read_json('tariff.json')
df

,ID,Region,TariffItem,global_id,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue
0,3563,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,170861214,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго»",151.36
1,3564,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,170861215,руб/куб.м,01.07.2016,31.12.2016,да/нет,,,,ОАО «Мосэнерго»,130.27
2,3565,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,170861216,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,ОАО «Мосэнерго»,120.82
3,3584,Троицкий и Новомосковский АО,Горячее водоснабжение,170861235,руб/куб.м,01.07.2016,31.12.2016,да/нет,,,для систем ГВС с полотенцесушителями,ООО «ТСК Новая Москва» на территории поселений...,169.59
4,3585,Троицкий и Новомосковский АО,Горячее водоснабжение,170861236,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,для систем ГВС с полотенцесушителями,ООО «ТСК Новая Москва» на территории поселений...,158.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,3914,Троицкий и Новомосковский АО,Водоотведение,276301176,руб/куб.м,22.08.2016,31.12.2016,да/нет,,,,ООО «Комплексные системы» «С»,212.74
465,3915,Троицкий и Новомосковский АО,Водоотведение,276301271,руб/куб.м,22.08.2016,31.12.2016,да/нет,,,Хозяйственно-бытовые сточные воды,ООО «Комплексные системы» «С»,107.75
466,3916,Троицкий и Новомосковский АО,Холодное водоснабжение,276301311,руб/куб.м,03.10.2016,31.12.2016,да/нет,,,,ООО «АрДиАй Ресурс»,29.22
467,4327,Троицкий и Новомосковский АО,Водоотведение,344191727,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,МУП «Водоканал» г. Подольска,11.00
468,4328,Троицкий и Новомосковский АО,Водоотведение,344191729,руб/куб.м,01.07.2016,31.12.2016,да/нет,,,,МУП «Водоканал» г. Подольска,13.77

Вычислите средний тарифф.

In [31]:
df["TariffValue"].mean()

401.73393176972274

Придумайте себе два запроса и реализуйте их ниже.

In [32]:
df.query('TariffItem == "Водоотведение"')

,ID,Region,TariffItem,global_id,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue
196,3790,Троицкий и Новомосковский АО,Водоотведение,170861443,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,АО «ГУ ЖКХ» поселок Ватутинки-1 (кроме военног...,14.83
197,3791,Троицкий и Новомосковский АО,Водоотведение,170861444,руб/куб.м,01.07.2016,31.12.2016,да/нет,,,,АО «ГУ ЖКХ» поселок Ватутинки-1 (кроме военног...,15.81
198,3792,Троицкий и Новомосковский АО,Водоотведение,170861445,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,АО «ГУ ЖКХ» поселок Ватутинки-1 (военный город...,25.44
199,3793,Троицкий и Новомосковский АО,Водоотведение,170861446,руб/куб.м,01.07.2016,31.12.2016,да/нет,,,,АО «ГУ ЖКХ» поселок Ватутинки-1 (военный город...,27.99
200,3794,Троицкий и Новомосковский АО,Водоотведение,170861447,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,АО «ГУ ЖКХ» п/о Приволье,10.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,3912,Троицкий и Новомосковский АО,Водоотведение,276300954,руб/куб.м,22.08.2016,31.12.2016,да/нет,,,Хозяйственно-бытовые сточные воды,ООО «Комплексные системы» «А»,230.90
464,3914,Троицкий и Новомосковский АО,Водоотведение,276301176,руб/куб.м,22.08.2016,31.12.2016,да/нет,,,,ООО «Комплексные системы» «С»,212.74
465,3915,Троицкий и Новомосковский АО,Водоотведение,276301271,руб/куб.м,22.08.2016,31.12.2016,да/нет,,,Хозяйственно-бытовые сточные воды,ООО «Комплексные системы» «С»,107.75
467,4327,Троицкий и Новомосковский АО,Водоотведение,344191727,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,МУП «Водоканал» г. Подольска,11.00
468,4328,Троицкий и Новомосковский АО,Водоотведение,344191729,руб/куб.м,01.07.2016,31.12.2016,да/нет,,,,МУП «Водоканал» г. Подольска,13.77

In [34]:
df.query('TariffItem == "Водоотведение" and Region == "город Москва (за исключением Троицкого и Новомосковского АО)"')

,ID,Region,TariffItem,global_id,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue
317,3758,город Москва (за исключением Троицкого и Новом...,Водоотведение,170861570,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,ОАО «РЖД» (Московского территориального участк...,25.00
318,3759,город Москва (за исключением Троицкого и Новом...,Водоотведение,170861571,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,ОАО «РЖД» (Московского территориального участк...,26.31
319,3760,город Москва (за исключением Троицкого и Новом...,Водоотведение,170861572,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,АО «Мосводоканал» за исключением Новомосковско...,21.90
320,3761,город Москва (за исключением Троицкого и Новом...,Водоотведение,170861573,руб/куб.м,01.07.2016,31.12.2016,да/нет,,,,АО «Мосводоканал» за исключением Новомосковско...,23.43